<html>
<head>
  <title>Country</title>
</head>
<body>
<h1>Weather Report</h1>
Country Name:<input type="text" [(ngModel)]="mcountry">
City Name:<input type="text" [(ngModel)] = "mcity">
<br>
<br>
<button class="btn btn-primary primary-button" (click) = "getDetails()">Get Weather Report</button>
<br>
<br>
<div class="card bg-light" style= "width:1200px; padding-left:100px">
  <h4 class="card-title">Weather Details</h4>
  <div class="card-body">
    <p class="card-text"><b>Temperature</b>: {{presentWeather.main.temp}}</p>
  </div>
  <div class="card-body">
    <p class="card-text"><b>Pressure</b>:{{presentWeather.main.pressure}}</p>
  </div>
  <div class="card-body">
    <p class="card-text"><b>Humidity</b>:{{presentWeather.main.humidity}}</p>
  </div>
</div>

<hr>
<form>
  <legend>Hourly Forecast Data:</legend>
  <br>
  <table border="1" style="width:100%">
    <tr>
      <th>Temperature </th>
      <th>Pressure</th>
      <th>Humidity</th>
    </tr>
    <tr *ngFor="let forecast of weatherReport.list">
      <td>{{forecast.main.temp}} </td>
      <td>{{forecast.main.pressure}}</td>
      <td>{{forecast.main.humidity}}</td>
    </tr>
  </table>
</form>
</body>
</html>
